<br />
<h3>General Settings</h3>
<br />
<style type="text/css">
    a {
        color: #008b8b;
        text-decoration: none;
    }

    a:hover {
        color: #008080;
        text-decoration: underline;
    }
</style>

<div class="row" ng-controller="generalSettingsController">
    <div class="row">
        <div class="col-md-3">
            <h4>Account Settings</h4>
            <ul>
                <li><a style="color: #008b8b;" href="ngy.html#Store/AccountGroups/AccountGroups">Account Groups</a></li>
                <li><a style="color: #008b8b;" href="ngy.html#Store/ChartsOfAccount/ChartsOfAccount">Charts Of Account</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Product Settings</h4>
            <ul>
                <li><a href="ngy.html#Store/ProductBrands/ProductBrands">Product Brands</a></li>
                <li><a href="ngy.html#Store/ProductTypes/ProductTypes">Product Types</a></li>
                <li><a style="color: #008b8b;" href="ngy.html#Store/ProductCategories/ProductCategories">Product Categories</a></li>
                <li><a href="ngy.html#Store/ProductVariations/ProductVariations">Product Variations</a></li>
                <li><a href="ngy.html#Store/ProductVariationValues/ProductVariationValues">Product Variation Values</a></li>
                <li><a style="color: #008b8b;" href="ngy.html#Store/ImageViews/ImageViews">Image Views</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Other Settings</h4>
            <ul>
                <li><a href="ngy.html#Store/Countries/Countries">Countries</a></li>
                <li><a href="ngy.html#Store/States/States">States</a></li>
                <li><a href="ngy.html#Store/Cities/Cities">Cities</a></li>
                <li><a href="ngy.html#Store/Outlets/Outlets">Outlets</a></li>
                <li><a href="ngy.html#Store/Banks/Banks">Banks</a></li>
                <li><a href="ngy.html#Store/Currencies/Currencies">Currency</a></li>
                <li><a href="ngy.html#Store/Registers/Registers">Registers</a></li>
                <li><a href="ngy.html#Store/DeliveryMethods/DeliveryMethods">Delivery Methods</a></li>
                <li><a href="ngy.html#Store/PaymentGateways/PaymentGateways">Payment Gateways</a></li>
                <li><a href="ngy.html#Store/Departments/Departments">Departments</a></li>
                <li><a style="color: #008b8b;" href="ngy.html#Store/CustomerTypes/CustomerTypes">Customer Types</a></li>
                <!--<li><a href="ngy.html#Store/DocumentTypes/DocumentTypes">Document Types</a></li>-->
                <li><a href="ngy.html#Store/TransactionTypes/TransactionTypes">Transaction Types</a></li>                
                <li><a style="color: #008b8b;" href="ngy.html#Store/UnitsOfMeasurement/UnitsOfMeasurement">Units Of Measurement</a></li>
                <li><a href="ngy.html#Store/MenuSettings/MenuSettings">Menu Settings</a></li>
            </ul>
        </div>
    </div>
</div>
