
<div class="center-vertical" ng-controller="auth_controller">
    <div class="center-content content-box content-box-wrapper  center-margin">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h2></h2>
                    </div>
                    <div class="col-md-7">
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-7">
                        <h4 style="margin-bottom: 15px">Sign In</h4>
                    </div>
                </div>

                <div class="row">
                    <form id="login-validation">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <div id="login-form" class="content-box">
                                <div class="content-box-wrapper pad20A">
                                    <div class="form-group">
                                        <label for="email">Email address:</label>
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon addon-inside bg-white font-primary">
                                                <i class="glyph-icon icon-envelope-o"></i>
                                            </span>
                                            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="auth.email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon addon-inside bg-white font-primary">
                                                <i class="glyph-icon icon-unlock-alt"></i>
                                            </span>
                                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="auth.password">
                                        </div>
                                    </div>
                                    @*<div class="row">
                                        <div class="checkbox-primary col-md-6" style="height: 20px;">
                                            <label>
                                                <input type="checkbox" id="rem" class="custom-checkbox">
                                                Remember me
                                            </label>
                                        </div>
                                        <div class="text-right col-md-6">
                                            <a href="#" class="switch-button" switch-target="#login-forgot" switch-parent="#login-form" title="Recover password">Forgot your password?</a>
                                        </div>
                                    </div>*@
                                </div>
                                <div class="button-pane">
                                    <input type="button" id="signin" class="btn btn-block btn-primary" value="Login" ng-click="login()"/>
                                </div>
                            </div>
                            <div id="login-forgot" class="content-box hide">
                                <div class="content-box-wrapper pad20A">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon addon-inside bg-gray">
                                                <i class="glyph-icon icon-envelope-o"></i>
                                            </span>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="auth.forgot_email">
                                        </div>
                                    </div>
                                </div>
                                <div class="button-pane text-center">
                                    <button class="btn btn-md btn-primary" ng-click="recorverPassword()">Recover Password</button>
                                    <a href="#" class="btn btn-md btn-link switch-button" switch-target="#login-form" switch-parent="#login-forgot" title="Cancel">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>