

<div class="row fsEdit" style="width: 100%;" ng-controller="editInventoryController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{productVariant.StoreItem.Name}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label ">Quantity In Stock *</label>
                <input type="text" ng-model="productVariant.QuantityInStock" class=" form-control" required>
            </div>
            <div class="col-md-6">
                <label class="control-label ">Cost Price *</label>
                <input type="text" ng-model="productVariant.CostPrice" class=" form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label ">Currency *</label>
                <ui-select ng-model="productVariant.Currency" theme="bootstrap">
                    <ui-select-match placeholder=" -- Select Currency --">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="currency in genericListObject.storeCurrencies | propsFilter: {Name: $select.search} track by currency.StoreCurrencyId">
                        <div ng-bind-html="currency.Name  | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-6">
                <label class="control-label">Expiry Date</label>
                <p class="input-group">
                    <input type="text" class="form-control datepicker" ng-click="open($event)" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)" close-text="Close" ng-model="productVariant.ExpirationDate" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label ">Variant Property *</label>
                <ui-select ng-model="productVariant.productVariation" theme="bootstrap">
                    <ui-select-match placeholder="-- Select Currency --">{{$select.selected.VariationProperty}}</ui-select-match>
                    <ui-select-choices repeat="storeItemVariation in genericListObject.storeItemVariations | propsFilter: {VariationProperty: $select.search} track by storeItemVariation.StoreItemVariationId">
                        <div ng-bind-html="storeItemVariation.VariationProperty | highlight: $select.search"></div> <!--| propsFilter: {VariationProperty: $select.search}-->
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-6">
                <label class="control-label ">Variant Value *</label>
                <ui-select ng-model="productVariant.productVariationValue" theme="bootstrap">
                    <ui-select-match placeholder=" -- Select Product Variant Value --">{{$select.selected.Value}}</ui-select-match>
                    <ui-select-choices repeat="storeItemVariationValue in genericListObject.storeItemVariationValues | propsFilter: {Value: $select.search} track by storeItemVariationValue.StoreItemVariationValueId">
                        <div ng-bind-html="storeItemVariationValue.Value  | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row" ng-hide="moreImages == true">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label ">Image View *</label>
                    <ui-select ng-model="sessObj.ImageView" theme="bootstrap">
                        <ui-select-match placeholder=" -- Image View --">{{$select.selected.ImageViewName}}</ui-select-match>
                        <ui-select-choices repeat="imageView in genericListObject.imageViews | propsFilter: {Name: $select.search} track by imageView.ImageViewId">
                            <div ng-bind-html="imageView.Name  | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-6">
                    <label class="control-label "> Image </label>
                    <input type="file" class="form-control" name="file" ng-sess-img accept="image/*" />
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-5">
                        <img ng-src="{{sessObj.ImagePath}}" style="height: 40%; width: 50%" id="hImg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <h5>Inventory Image(s) {{productVariant.StoreItem.Name}}</h5>
                        </div>
                        <table class="dataTable no-footer" role="grid" style="width: auto;">
                            <thead>
                                <tr style="color: #fff; font-size: 0.8em; font-weight: normal">
                                    <th style="width: 300%; text-align: left">
                                        Image View
                                    </th>
                                    <th style="width: 10%">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="img in SessionObjs">
                                    <td>{{img.ImageViewName}}</td>
                                    <td>
                                        <a title="Edit" style="cursor: pointer" ng-click="getSessObj(img.ImageViewId)"><img src="/Content/images/edit.png" /></a> &nbsp;
                                        <a title="Delete" style="cursor: pointer" ng-click="removeSessObj(img.ImageViewId)"><img src="/Content/images/delete.png" /></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <input type="button" value="Close" ng-click="moreImages = false" class="btn btn-default" style="margin-top: 7px;" />
            </div>
        </div>
        <div class="row" ng-show ="moreImages == true">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label "> Default Image </label>
                    <input type="file" class="form-control" name="file" ng-variant-img accept="image/*" />
                </div>
                <div class="col-md-6">
                    <input type="button" value="Add More Images" ng-click="moreImages = true" class="btn btn-default" style="margin-top: 7px;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img ng-src="{{productVariant.ImagePath}}" style="height: 40%; width: 50%" id="hImg" />
                </div>
            </div>
        </div>
        <br />
        <div class="row modal-footer">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <input type="button" value="Save" ng-click="editInventory()" class="btn btn-default" style="margin-top: 7px;" />
            </div>
        </div>
    </div>
</div>