<!--ng-init="initializeController"-->
   
    <div class="row fsEdit" id="popDiv" style="visibility: visible; width: 100%" ng-controller="imageViewController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{imageView.Header}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label "> Name *</label>
                    <input type="text" data-ng-model="imageView.Name" class="form-control" />
                </div>
            </div>

            <div class="row modal-footer">
                <div class="col-md-12">
                    <input type="button" value="Save" ng-click="processImageView()" class="btn btn-default" style="margin-top: 7px;" />
                </div>
            </div>
        </form>
    </div>
</div>
