<br />
<br />
<br />
<h4>Charts of Account</h4>

<br />

<fieldset style="border: none; background: whitesmoke" ng-controller="chartOfAccountController">
    <div class="row">

        <table ng-chart-of-account-table>
            <thead>
                <tr style="color: #fff">
                    <th style="width: 3%; text-align: left">
                        S/N
                    </th>
                    <th style="width: 12%; text-align: left">
                        Account Type
                    </th>
                    <th style="width: 12%; text-align: left">
                        Account Code
                    </th>
                    <th style="width: 12%; text-align: left">
                        Account Group
                    </th>
                    <th style="width: 7%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</fieldset>
