
    <div class="row"  style="visibility: visible; width: 100%" ng-controller="storeDepartmentController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{department.Header}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form id="fsProcessDepartmentes" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label "> Name *</label>
                    <input type="text" data-ng-model="department.Name" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label "> Description</label>
                    <textarea data-ng-model="department.Description" class="form-control">{{department.Description}}</textarea>
                </div>
            </div>
            <div class="row modal-footer">
                <div class="col-md-12">
                    <input type="button" value="Save" ng-click="processStoreDepartment()" class="btn btn-default" style="margin-top: 7px;" />
                </div>
            </div>
        </form>
    </div>
</div>
   