<br />
<br />
<br />
<h4>Subcription Packages</h4>

<br />

<fieldset id="fsSubscriptionPackagesList" style="border: none; background: whitesmoke" ng-controller="subscriptionPackageController">
    <div class="row">

        <div class="row">
            <div class="col-md-12" id="trBrError" style="width: 100%; display: none; visibility: visible; background: whitesmoke">
                <span style="width: 100%; font-weight:bold; font-size: 12pt" id="brFeedback"></span>
            </div>
        </div>
        <div class="row"></div>
        <table id="tblSubscriptionPackages" subscriptionpackage-table="">
            <thead>
                <tr style="color: #fff">
                    <th style="width: 3%; text-align: left">
                        S/N
                    </th>
                    <th style="width: 10%; text-align: left">
                        Package
                    </th>
                    <th style="width: 14%; text-align: left">
                        Dedicated Account Manager
                    </th>
                    <th style="width: 14%; text-align: left">
                        Telephone Support
                    </th>
                    <th style="width: 10%; text-align: left">
                        Email Support
                    </th>
                    <th style="width: 10%; text-align: left">
                       Use Live Chat
                    </th>
                    <th style="width: 5%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</fieldset>

<style type="text/css">
    a, a:visited, a:hover {
        color: #fff;
    }
</style>