
<br />
<br />
<br />
<h4>Banks</h4>

<br />

<fieldset id="fsBankList" ng-app="mainModule" style="border: none; background: whitesmoke" ng-controller="storeBankController">
    <div class="row">

        <div class="row">
            <div class="col-md-12" id="trBrError" style="width: 100%; display: none; visibility: visible; background: whitesmoke">
                <span style="width: 100%; font-weight:bold; font-size: 12pt" id="brFeedback"></span>
            </div>
        </div>
        <div class="row"></div>
        <table id="tblBanks" bank-table="">
            <thead>
                <tr style="color: #fff">
                    <th style="width: 3%; text-align: left">
                        S/N
                    </th>
                    <th style="width: 12%; text-align: left">
                        Full Name
                    </th>
                    <th style="width: 12%; text-align: left">
                        Short Name
                    </th>
                    <th style="width: 12%; text-align: left">
                        Sort Code
                    </th>
                    <th style="width: 7%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</fieldset>

<style type="text/css">
    a, a:visited, a:hover {
        color: #fff;
    }
</style>

