<!--ng-init="initializeController"-->
   
    <div class="row fsEdit" id="popDiv" style="visibility: visible; width: 100%" ng-controller="storeBankController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{selectedBank.Header}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form id="fsProcessBankes" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <label class="control-label ">Full Name *</label>
                        <input type="text" data-ng-model="selectedBank.FullName" class="form-control" id="fName" />
                    </div>
                    <div class="row">
                        <label class="control-label ">Short Name </label>
                        <input type="text" data-ng-model="selectedBank.ShortName" class="form-control" />
                    </div>
                    <div class="row">
                        <label class="control-label">Sort Code</label>
                        <input type="text" data-ng-model="selectedBank.SortCode" class="form-control" />
                    </div>
                    <div class="row">
                        <label class="control-label "> Attach Logo </label>
                        <input type="file" id="bankLogo" class="form-control" name="file" ng-bank-img-select accept="image/*" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="control-label "> &nbsp;</label>
                        <img ng-src="{{selectedBank.filePath}}" style="height: 90%; width: 100%" id="hImg" />
                    </div>
                    <div class="row">
                        <!--<progress value="{{progress}}"></progress>-->
                    </div>
                </div>
            </div>

            <div class="row modal-footer">
                <div>
                    <input type="button" value="Save" ng-click="processBank()" class="btn btn-default" style="margin-top: 7px;" />
                </div>
            </div>
        </form>
    </div>
</div>
   