   
    <div class="row fsEdit" id="popDiv" style="visibility: visible; width: 100%" ng-controller="productCategoryController" ng-init="initializeController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{productCategory.Header}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form id="fsProcessBankes" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <label class="control-label ">Product Category Name *</label>
                        <input type="text" data-ng-model="productCategory.Name" class="form-control" id="fName" />
                    </div>
                    <div class="row">
                        <label class="control-label "> Parent Category</label>
                        <select ng-model="productCategory.ParentCategory" ng-options="productCategory as productCategory.Name for productCategory in productCategories track by productCategory.StoreItemCategoryId" data-inset="true" class=" form-control">
                            <option value="">-- Select Parent Category --</option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="control-label">Description</label>
                        <textarea data-ng-model="productCategory.Description" class="form-control">{{productCategory.Description}}</textarea>
                    </div>
                    <div class="row">
                        <label class="control-label "> Attach Logo </label>
                        <input type="file" id="bankLogo" class="form-control" name="file" ng-product-cat-file-select accept="image/*" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="control-label "> &nbsp;</label>
                        <img ng-src="{{productCategory.SampleImagePath}}" style="height: 90%; width: 100%" id="hImg" />
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>

            <div class="row modal-footer">
                <div>
                    <input type="button" value="Save" ng-click="processProductCategory()" class="btn btn-default" style="margin-top: 7px;" />
                </div>
            </div>
        </form>
    </div>
</div>
   