@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/><br/>
<br /><br />
<div class="jumbotron">
    <script type="text/javascript">

    $(window).load(function () {
        window.location = "index.html#Master/Subscriptions/Subscriptions";
    });

    </script>
</div>
