  
<div class="row fsEdit" id="popDiv" style="visibility: visible; width: 100%" ng-controller="storeTransactionTypeController" ng-init="initializeController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{transactionType.Header}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form id="fsProcessBankes" method="POST">

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label ">Transaction Type*</label>
                    <input type="text" data-ng-model="transactionType.Name" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label ">Required Action</label>
                    <input type="text" data-ng-model="transactionType.Action" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Description</label>
                    <textarea data-ng-model="transactionType.Description" class="form-control">{{transactionType.Description}}</textarea>
                </div>
            </div>
            <div class="row modal-footer">
                <div>
                    <div class="col-md-12">
                        <input type="button" value="Save" ng-click="processTransactionType()" class="btn btn-default" style="margin-top: 7px;" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
   