  
    <div class="row fsEdit" id="popDiv" style="visibility: visible; width: 100%" ng-controller="paymentGatewayController" ng-init="initializeController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{paymentGateway.Header}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form id="fsProcessBankes" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <label class="control-label ">Gateway Name *</label>
                        <input type="text" data-ng-model="paymentGateway.GatewayName" class="form-control" id="fName" />
                    </div>
                    <div class="row">
                        <label class="control-label "> Attach Logo </label>
                        <input type="file" class="form-control" name="file" ng-pgfile-select accept="image/*" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="control-label "> &nbsp;</label>
                        <img ng-src="{{paymentGateway.LogoPath}}" style="height: 90%; width: 100%" id="hImg" />
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>

            <div class="row modal-footer">
                <div>
                    <input type="button" value="Save" ng-click="processPaymentGateway()" class="btn btn-default" style="margin-top: 7px;" />
                </div>
            </div>
        </form>
    </div>
</div>
   