<br />
<h4>Products</h4>

<br />

<fieldset ng-app="mainModule" style="border: none; background: whitesmoke" ng-controller="productController">
    <div class="row">

        <div class="row">
            <div class="col-md-12" id="trBrError" style="width: 100%; display: none; visibility: visible; background: whitesmoke">
                <span style="width: 100%; font-weight:bold; font-size: 12pt" id="brFeedback"></span>
            </div>
        </div>
        <div class="row">
            
        </div>
        <table ng-product-table>
            <thead>
                <tr style="color: #fff">
                    <th style="width: 3%; text-align: left">
                        S/N
                    </th>
                    <th style="width: 12%; text-align: left">
                        Product 
                    </th>
                    <th style="width: 16%; text-align: left">
                        Product Category
                    </th>
                    <th style="width: 12%; text-align: left">
                        Product Type
                    </th>
                    <th style="width: 12%; text-align: left">
                        Product Brand
                    </th>
                    <th style="width: 12%; text-align: left">
                        Parent Product
                    </th>
                    <th style="width: 14%; text-align: left">
                        chart Of Account
                    </th>
                    <th style="width: 10%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
</fieldset>


