<!--ng-init="initializeController"-->

<div class="row fsEdit" style="width: 100%" ng-controller="customerController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{user.Header}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form id="fsProcessCityes" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label ">Last Name *</label>
                    <input type="text" ng-model="user.LastName" style="text-transform: capitalize" class=" form-control">
                </div>
                <div class="col-md-6">
                    <label class="control-label ">Other Names *</label>
                    <input type="text" ng-model="user.OtherNames" style="text-transform: capitalize;" class=" form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label ">Email</label>
                    <input type="text" ng-model="user.ContactEmail" class=" form-control">
                </div>
                <div class="col-md-6">
                    <label class="control-label ">Mobile Number *</label>
                    <input type="text" ng-model="user.MobileNumber" class=" form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label ">Office Line</label>
                    <input type="text" ng-model="user.OfficeLine" class=" form-control">
                </div>
                <div class="col-md-6">
                    <label class="control-label ">Gender *</label>
                    <ui-select ng-model="user.GenderObject" theme="bootstrap" class="fullWdith">
                        <ui-select-match placeholder="-- Select gender --">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="gender in genders | propsFilter: {name: $select.search} track by gender.genderId">
                            <div ng-bind-html="gender.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label ">Customer Type *</label>
                    <ui-select ng-model="user.customerType" theme="bootstrap" class="fullWdith">
                        <ui-select-match placeholder="-- Select Customer Type --">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="type in customerTypes | propsFilter: {Name: $select.search} track by type.StoreCustomerTypeId">
                            <div ng-bind-html="type.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <!--<div class="col-md-4">
            <label class="control-label ">Store Outlet *</label>
            <ui-select ng-model="user.storeOutlet" theme="bootstrap" class="fullWdith">
                <ui-select-match placeholder="-- Select Store Outlet --">{{$select.selected.OutletName}}</ui-select-match>
                <ui-select-choices repeat="outlet in outlets | propsFilter: {OutletName: $select.search} track by outlet.StoreOutletId">
                    <div ng-bind-html="outlet.OutletName | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>-->
                <div class="col-md-6">
                    <label class="control-label">Birthday</label>
                    <p class="input-group">
                        <input type="text" class="form-control datepicker" ng-change="validateDates()" ng-click="open($event)" datepicker-popup="{{format}}" is-open="opened"
                               min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-model="user.BirthdayStr" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label ">Country *</label>
                    <ui-select ng-model="user.StoreCountryObject" theme="bootstrap" class="fullWdith">
                        <ui-select-match placeholder="-- Select Country --">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="country in countries | propsFilter: {Name: $select.search} track by country.StoreCountryId">
                            <div ng-bind-html="country.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-6">
                    <label class="control-label ">State *</label>
                    <ui-select ng-model="user.StoreStateObject" theme="bootstrap" class="fullWdith">
                        <ui-select-match placeholder="-- Select state --">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="state in user.StoreCountryObject.StoreStateObjects | propsFilter: {Name: $select.search} track by state.StoreStateId">
                            <div ng-bind-html="state.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label ">City *</label>
                    <ui-select ng-model="user.StoreCityObject" theme="bootstrap" class="fullWdith">
                        <ui-select-match placeholder="-- Select city --">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="city in user.StoreCityObject.StoreCityObjects | propsFilter: {Name: $select.search} track by city.StoreCityId">
                            <div ng-bind-html="city.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-6">
                    <label class="control-label">Street No.</label>
                    <input type="text" ng-model="user.AddressLine1" class=" form-control">
                </div>
            </div>
            <div class="row modal-footer">
                <div class="col-md-12">
                    <input type="button" value="Save" ng-click="processCustomer()" class="btn btn-primary" style="margin-top: 7px;"/>
                </div>
            </div>
        </form>
    </div>
</div>


