<br />
<br />
<br />
<h4>Issue Types</h4>

<br />

<fieldset style="border: none" ng-controller="issueTypeController" ng-init="initializeController()">
    <div class="row">
       
        <table ng-image-view-table>
            <thead>
                <tr style="color: #fff">
                    <th style="width: 3%; text-align: left">
                        S/N
                    </th>
                    <th style="width: 12%; text-align: left">
                        Issue Type
                    </th>
                    <th style="width: 7%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</fieldset>
