
<br />
<br />
<br />
<h4>Product Types</h4>

<br />

<fieldset id="fsProductTypeList" ng-app="mainModule" style="border: none; background: whitesmoke" ng-controller="productTypeController">
    <div class="row">

        <div class="row">
            <div class="col-md-12" id="trBrError" style="width: 100%; display: none; visibility: visible; background: whitesmoke">
                <span style="width: 100%; font-weight:bold; font-size: 12pt" id="brFeedback"></span>
            </div>
        </div>
        <div class="row"></div>
        <table id="tblProductTypes" producttype-table="">
            <thead>
                <tr style="color: #fff">
                    <th style="width: 3%; text-align: left">
                        S/N
                    </th>
                    <th style="width: 87%; text-align: left">
                        Product Type
                    </th>
                    <th style="width: 10%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
</fieldset>


