<!--ng-init="initializeController"-->
   
    <div class="row fsEdit" id="popDiv" style="visibility: visible; width: 100%" ng-controller="couponController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{selectedCoupon.Header}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form id="fsProcessCoupones" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label ">Title *</label>
                    <input type="text" ng-model="coupon.Title" class=" form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="control-label ">Code *</label>
                    <input type="text" ng-model="coupon.Code" class=" form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label ">Percentage Deduction *</label>
                    <input type="text" ng-model="coupon.PercentageDeduction" class=" form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="control-label ">Minimum Order Amount *</label>
                    <input type="text" ng-model="coupon.MinimumOrderAmount" class=" form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Valid From *</label>
                    <p class="input-group">
                        <input type="text" class="form-control datepicker" ng-click="open($event)" datepicker-popup="{{format}}" is-open="opened"
                               min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-model="coupon.ValidFrom" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <div class="col-md-6">
                    <label class="control-label">Valid To *</label>
                    <p class="input-group">
                        <input type="text" class="form-control datepicker" ng-click="openEnDate($event)" datepicker-popup="{{endDateFormats}}" is-open="endDateOpened"
                               min-date="minEndDate" max-date="maxEndDate"
                               datepicker-options="endDateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-model="coupon.ValidTo" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEnDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row modal-footer">
                <div class="col-md-12">
                    <input type="button" value="Save" ng-click="processCoupon()" class="btn btn-default" style="margin-top: 7px;" />
                </div>
            </div>
        </form>
    </div>
</div>
   
<script>
    //angular.element('popDiv').draggable();
</script>
