
   
    <div class="row fsEdit" style="visibility: visible; width: 100%" ng-controller="productStockController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <strong class="modal-title">Bulk Upload Feedback</strong>
            </div>
        </div>
        <div class="row alert alert-danger" role="alert" ng-show="bulkError === true">
            <span class="col-md-11">{{uploadError}}</span><span class="col-md-1" style="font-size: 20px; text-align: left; cursor: pointer" title="close" ng-click="bulkError = false">x</span>
        </div>
    </div>

    <div class="modal-body">
        <form method="POST" enctype="multipart/form-data"> 
            <div class="row">
                <div class="col-md-12">
                    <table class="table-striped">
                        <thead>
                        <tr style="color: #000">
                            <th style="width: 20%; text-align: left">
                                Product Name
                            </th>
                            <th style="width: 20%; text-align: left">
                                Code/SKU
                            </th>
                            <th style="width: 30%; text-align: left">
                                Error
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="error in errors">
                                <td>{{error.Name}}</td>
                                <td>{{error.SKU}}</td>
                                <td>{{error.Error}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
   